altgraph==0.17.4
appdirs==1.4.4
asarPy==1.0.1
autocommand==2.2.2
backports.tarfile==1.2.0
flake8==7.1.1
importlib_metadata==8.5.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
mccabe==0.7.0
more-itertools==10.5.0
packaging==24.1
pefile==2023.2.7
pillow==11.0.0
platformdirs==4.3.6
pycodestyle==2.12.1
pyflakes==3.2.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pyperclip==1.9.0
pywin32-ctypes==0.2.3
ttkthemes==3.2.2
zipp==3.20.2
